.hero {
  background-image: linear-gradient(rgba(33,33,33,0.555),rgba(33,33,33,0.555)),url("../../../../public/images/Frankfurt1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

.search{
  padding: 15px ;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
}
.hero .container {
  padding-top: 15%;
}
.hero h1 {
  color: #fff;
  font-size: 50px;
  margin-top: 80px;
}
.hero p {
  color: #fff;
  opacity: 0.9;
  margin-bottom: 5px;
  
}
form {
  background-color: #fff;
  border: 2px solid #002E5A;
  border-radius: 50px;
  margin-top: 80px;
  padding: 0 20px;
}
form input {
  padding: 10px;
  width: 100%;
  border: 1.5px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}
form span {
  font-size: 16px;
  color: #313537;
}
input::placeholder {
  font-size: 20px;
  color: #313537;
}
form .box {
  padding: 20px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}

form h4 {
  font-weight: 600;
}
.city{
  width: 600px;
}
